*{
	margin:0px;
	padding:0px;
}
#contents_f1{
width:1000px;
height:632px;
/*border:1px solid #f00;完成删除*/
background-color:#fff;
}
#f1_top{
width:1000px;
height:377px;
/*border:1px solid #f00;*/
}


/*-------------1F上左----------------------------------------*/
#top_left{
width:609px;
height:377px;
/*border:1px solid #f00;完成删除*/
float:left;
background-color:#e8e8e8;
position:relative;
margin:200px;
}
#top_left>.desc{
width:245px;
height:243px;
position:absolute;
top:50px;
left:60px;
}
#top_left>.desc>.name{
width:245px;
height:76px;
font-size:32px;
color:#333;
font-family:"simhei";
}
#top_left>.desc>.detiils{
width:245px;
height:28px;
font-size:32px;
color:#666;
font-family:"simhei";
margin-bottom:15px;
}
#top_left>.desc>.price{
width:245px;
height:27px;
font-size:24px;
color:#0aa1ed;
font-family:"simhei";
margin-bottom:20px;
}
#top_left>.desc>.view{
display:block;/*让行级元素按块级元素显示*/
width:130px;
height:40px;
background:-webkit-linear-gradient(top, #27b1f6 0%, #0aa1ed 100%);  
border-radius:2px;
font-size:16px;
color:#fff;
font-family:"simhei";
text-decoration:none;
text-align:center;
line-height:40px;
}
#top_left>img{
width:390px;
height:300px;
margin-left:155px;
margin-top:35px;
transition:1s;/*变化过程持续多少秒*/
}
#top_left>img:hover{
width:468px;
height:360px;
}
/*----------1F上右----------------------------------*/
#top_right{
width:381px;
height:377px;
/*border:1px solid #f00;完成删除*/
float:left;
background-color:#e8e8e8;
position:relative;
}
#top_right>.desc{
width:253px;
height:221px;
position:absolute;
top:63px;
left:24px;
}
#top_right>.desc>.name{
width:245px;
height:76px;
font-size:32px;
color:#333;
position:absolute;
font-family:"simhei";
}
#top_right>.desc>.detiils{
width:245px;
height:28px;
font-size:32px;
color:#666;
font-family:"simhei";
margin-bottom:15px;
position:absolute;

}
#top_right>.desc>.price{
width:245px;
height:27px;
font-size:24px;
color:#0aa1ed;
font-family:"simhei";
margin-bottom:20px;
position:absolute;

}
#top_right>.desc>.view{
display:block;/*让行级元素按块级元素显示*/
width:130px;
height:40px;
background:-webkit-linear-gradient(top, #27b1f6 0%, #0aa1ed 100%);  
border-radius:2px;
font-size:16px;
color:#fff;
font-family:"simhei";
text-decoration:none;
text-align:center;
line-height:40px;
position:absolute;

}
#top_right>img{
width:390px;
height:300px;
margin-left:155px;
margin-top:35px;
transition:1s;/*变化过程持续多少秒*/
position:absolute;

}
#top_right>img:hover{
width:68px;
height:60px;

}