*{margin:0px;
padding:0px;
}
/*#foot{
width:1400px;
height:1000px;
/*background-color:#666;*
position:relative;
margin-top:0px;
margin-left:0Px;
}*/
#f_t{
width:1400px;
height:82px;
background-color:#f5f5f5;
margin:0px auto;
padding:50px 0px;
}
#f_t>ul>li{
list-style:none;
}
/*#f_t{
width:1300px;
height:200px;
background-color:#666;
position:relative;
margin-top:0px;
margin-left:0Px;
 }*/
 #f_t>ul>li{
width:65px;
height:80px;
float:left;
margin:0px 93px;
 }



 #f_d_l{
 width:300px;
height:200px;
background-color:#f5f5f5;
position:relative;
margin-top:10px;
margin-left:50Px;
float:left;
 }
 #f_d_c{
 width:400px;
height:200px;
background-color:#f5f5f5;
position:relative;
margin-top:10px;
margin-left:100Px;
float:left;
 }
 #f_d_r{
  width:300px;
height:200px;
background-color:#f5f5f5;
position:relative;
margin-top:10px;
margin-left:100Px;
float:left;
 }
 #l_1{
   width:268px;
height:100px;
position:relative;
margin-top:0px;
margin-left:0Px;
 }
 #l_2{
 width:300px;
height:85px;
position:relative;
margin-top:0px;
margin-left:0Px;
 }
 .c_u_1{
 width:100px;
height:200px;
position:relative;
float:left;
margin-left:0px;
 }
 .c_u_2{
 width:100px;
height:200px;
position:relative;
float:left;
margin-left:50px;
 }
.c_u_3{
 width:100px;
height:200px;
position:relative;
float:left;
margin-left:50px;
 }
 li{
 list-style:none;
 position:relative;
 }
 a{
 display:block;
 color:#000;
 font-family:"ו";
 text-decoration:none;
 text-align:center;
 }
.h_1{
 width:100px;
 height:20px;
 font-size:25px;
 line-height:20px;
 margin-top:20px;
 }
 .h_2{
 width:100px;
 height:20px;
 font-size:20px;
 line-height:20px;
 margin-top:20px;
 }
 .d_r_l{
 width:120px;
 height:200px;
 background-color:#f5f5f5;
 position:relative;
margin-left:30Px;
float:left;
 }
 .d_r_r{
 width:120px;
 height:200px;
 background-color:#f5f5f5;
 position:relative;
 margin-left:30px;
 float:left;
 }
#f_d_r>ul>.d_r_l>.l_1{
 font-size:17px;
 position:relative;
 margin-top:20px;
 float:left;
}
#f_d_r>ul>.d_r_l>.l_2{
position:relative;
 margin-top:40px;
}
#f_d_r>ul>.d_r_l>.l_3{
position:relative;
 margin-top:20px;
}

.d_r_r>img{
width:120px;
height:120px;
position:relative;
margin-top:40px;
}