li{
list-style:none;
}
P{display:block;/*让行级元素按块级元素显示*/
width:1400px;
height:200px;
background:-webkit-linear-gradient(left, #888 0%, #e8e8e8 100%);
border-radius:2px;
font-size:80px;
color:#fff;
font-family:"黑体";
text-align:center;
line-height:200px;
margin:0px;
padding:0px;
}
img{
width:500px;
height:200px;
background:-webkit-linear-gradient(left, #888 0%, #e8e8e8 100%);
border-radius:2px;
}
#a1{
position:absolute;
margin-top:50px;
margin-left:250px;
}
#a2{
position:absolute;
margin-top:250px;
margin-left:250px;
}
#a3{
position:absolute;
margin-top:450px;
margin-left:250px;
}
#a4{
position:absolute;
margin-top:50px;
margin-left:750px;
}
#a5{
position:absolute;
margin-top:250px;
margin-left:750px;
}
#a6{
position:absolute;
margin-top:450px;
margin-left:750px;
}
li{
width:100px;
height:50px;
background:-webkit-linear-gradient(left, #f22 0%, #e8e8e8 100%);
border-radius:2px;
font-size:20px;
color:#fff;
font-family:"黑体";
text-align:center;
line-height:25px;
margin:0px;
padding:0px;
}
li:hover{
width:200px;
height:50px;
font-size:40px;
line-height:50px;
}
#b1{
position:absolute;
margin-top:35px;
margin-left:0px;
}
#b2{
position:absolute;
margin-top:135px;
margin-left:0px;
}
#b3{
position:absolute;
margin-top:235px;
margin-left:0px;
}
#b4{
position:absolute;
margin-top:335px;
margin-left:0px;
}
#b5{
position:absolute;
margin-top:435px;
margin-left:0px;
}
#b6{
position:absolute;
margin-top:535px;
margin-left:0px;
}