*{margin:0px;padding:0px;}
body{background:#f0f0f0}
P{display:block;/*让行级元素按块级元素显示*/
width:1400px;
height:200px;
background:-webkit-linear-gradient(left, #888 0%, #e8e8e8 100%);
border-radius:2px;
font-size:80px;
color:#fff;
font-family:"黑体";
text-align:center;
line-height:200px;
margin:0px;
padding:0px;
}
a{
display:block;/*让行级元素按块级元素显示*/
width:400px;
height:100px;
background:-webkit-linear-gradient(left, #888 0%, #e8e8e8 100%);
border-radius:2px;
font-size:40px;
color:#fff;
font-family:"宋体";
text-decoration:none;
text-align:center;
line-height:100px;
transition:1s;/*变化过程持续时间*/
}
a:hover{
width:500px;
height:200px;
font-size:80px;
line-height:200px;
}
#a1{
position:absolute;
margin-top:50px;
margin-left:250px;
}
#a2{
position:absolute;
margin-top:250px;
margin-left:250px;
}
#a3{
position:absolute;
margin-top:450px;
margin-left:250px;
}
#a4{
position:absolute;
margin-top:50px;
margin-left:750px;
}
#a5{
position:absolute;
margin-top:250px;
margin-left:750px;
}
#a6{
position:absolute;
margin-top:450px;
margin-left:750px;
}